{% extends "base_frame.tmpl" %}
{% block title %}Me{% endblock %}
{% block main_content %}
  <div class="jumbotron">
    <h1>{{ workspace_name }}</h1>
    <p class="lead">{{ workspace_id }}</p>
  </div>
  <div>
    <h2>Graph</h2>

    <div id="my_graph"></div>
  </div>
{% endblock %}
{% block tailjs %}
  {{ super() }}
  <script src="{{ STATIC_URL }}js/my_graph.js" type="text/javascript"></script>
  <script>
   $(function () {
     load_weekly_graph("#my_graph");
  });
  </script>
{% endblock %}
